#business-list {
    margin-top:3em;
    width:50%;
}

.business {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom:.5em;
}

.business .left-column {
    text-align: center;
}

.business .right-column {
    text-align: center;
}

.business progress, .business button {
    width:100%;
}

/* Moderately narrow screen */
@media (max-width:900px) {
    #business-list {
        width:80%;
    }
}

/* Severely narrow screen */
@media (max-width:600px) {
    #business-list {
        width:100%;
    }
    .business progress, .business button {
        width:80%
    }
}