.card img {
    height:100%;
    image-rendering: pixelated;
}

button.card {
    background-color: transparent;
    border:none;
    width:10em;
    height:10em;

    transition:background-color ease-in .12s;
}

button.card:hover {
    background-color:red;
}

button.card:disabled {
    background-color: black;
}

/* Severely narrow screen */
@media (max-width:600px) {

}
