#free-cards {
    background-color: var(--secondary-colour1);
}

#game-rules {
    padding-top:2em;
}

.card img {
    height:100%;
    image-rendering: pixelated;
}

button.card {
    background-color: transparent;
    border:none;
    width:10em;
    height:10em;

    transition:background-color ease-in .12s;
}

button.card:hover {
    background-color:red;
}

button.card:disabled {
    background-color: black;
}

button#finished-button {
    font-size:4em;
}

button.highlighted {
    background-color: greenyellow;
    transition: background-color ease-in .1s;
}
button.highlighted:hover {
    background-color: green;
}

/* Severely narrow screen */
@media (max-width:600px) {

}
