#items-display {
    display:grid;
    grid-template-columns:repeat(4, auto);
}

.shop-item {
    margin:1em;
    width:20vw;
    height:20vw;
    padding:0px;
    background-color: transparent;
    border:none;
}

.shop-item img {
    width:75%;
    height:75%;
    margin:0px;
    transform:translate(0px, -8%);
    image-rendering:pixelated;
    transition: border ease .05s; 
}

.shop-item:hover img {
    border:solid 4px;
    border-color: var(--accent-colour4);
}

.shop-item label {
    margin:0px 1em;
}

.item-name {
    float:left;
}

.item-price {
    font-weight: bold;
    float:right;
}

/* Very wide screens */
@media (min-width:1200) {
    .shop-item {
        width:10vw;
        height:10vw;
    }
}

/* Wide screens */
@media (min-width:901px) {
    .shop-item {
        width:15vw;
        height:15vw;
    }
}

/* Severely narrow screen */
@media (max-width:600px) {
    #items-display {
        grid-template-columns: repeat(3, auto);
    }
    .item-name {
        display:none;
    }
    .item-price {
        float:none;
    }
}
