#wardrobe-section {
    /* display:flex;
    flex-direction:row;
    justify-content: space-around; */
    padding-top:2em;
    height:50vh;
    display:grid;
    grid-template-columns: 0% 80% 20%;
}

#canvas {
    border:solid 1px black;
    height:100%;
    width:100%;
}

#wardrobe-menu {
    list-style: none;
    padding:0px;
    margin:0px;
}

#wardrobe-menu button {
    width:100%;
    height:3em;
}

#wardrobe-menu i {
    font-size:1.5em;
    float:left;
}

/* Wide displays */
@media (min-width:901px) {
    #wardrobe-section {
        grid-template-columns: 1fr 3fr .5fr 1fr;
    }
}

/* Moderately narrow displays */
@media (max-width:600px) {
    #wardrobe-menu i {
        font-size:2em;
        float:none;
    }
    .wardrobe-menu-text {
        display:none;
    }
}